---
layout: default
title: 归档
---

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title self-panel-title">归档</h2>
    </div>
    <div class="panel-body">
        {% for post in site.posts %}
        {% capture ym %}{{post.date | date:"%Y-%m"}}{% endcapture %}
        {% if year_month != ym %}
        {% assign year_month = ym %}
        <ul class="list-unstyled">
            <li><h3 id="{{ ym | strip_html }}"><em>{{ym}}</em></h3></li>
            <li>
                <ol>
                    {% for pt in site.posts %}
                    {% capture cym %}{{pt.date | date:"%Y-%m"}}{% endcapture %}
                    {% if year_month == cym %}
                    <li>
                        <a href="{{pt.url}}">{{pt.title}}{% if post.github %}
                            <img src="/img/GitHub-Mark-32px.png" style="width: 20px;height: 20px; margin-left: 6px;"/>
                            {% endif %}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </li>
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>