---
layout: default
title: 分类
---
<section class="section py-4">
  <h1 class="title">{{page.title}}</h1>
  <div class="subtitle tags mt-1">
    {% for category in site.categories %}
    <a class="tag is-info" href='#{{category[0]}}'>{{category[0] | capitalize}}</a>
    {% endfor %}
  </div>
  <div class="content">
    {% for category in site.categories %}
    <a class="title is-size-5 has-text-grey" id="{{category[0]}}">{{category[0] | capitalize}}</a>
    <ul>
      {% for post in category[1] %}
      <li><a class="has-text-primary-dark" href="{{post.url}}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</section>