---
layout: default
title: 文章分类
---
<div class="card" style="border: 0">
    <div class="card-header">
        <div class="card-title h5">文章分类</div>
        <div class="card-subtitle text-gray">
            <div class="card-subtitle">
                {% for category in site.categories %}
                <a class="chip c-hand text-warning" href='#{{category[0]}}'>{{category[0]}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="timeline">
            {% for category in site.categories %}
            <div class="timeline-item" style="margin:0" id="{{category[0]}}">
                <div class="timeline-left">
                    <a class="timeline-icon tooltip" name="{{category[0]}}"></a>
                </div>
                <div class="timeline-content columns">
                    <div class="column col-12">
                        <label class="chip bg-warning">{{category[0]}}</label>
                    </div>
                    {% for post in site.posts %}
                    {% if post.category == category[1][0].category %}
                    <div class="column col-6 col-lg-12">
                        <div class="chip">
                            <a href="{{post.url}}">
                                {% if post.github %}
                                <img class="avatar avatar-sm" src="/assets/images/Octocat.jpg" alt="Git Hub">
                                {% endif %}
                                {{post.title}}</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>