---
layout: default
title: 文章分类
---
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title self-panel-title">文章分类</h2>
    </div>
    <div class="panel-body">
        {% for category in site.categories %}
        <ul class="list-unstyled">
            <li><h3 id="{{category[0]}}"><em>{{category[0]}}</em></h3></li>
            <li>
                <ol>
                    {% for post in site.posts %}
                    {% if  post.category == category[1][0].category %}
                    <li><a href="{{ post.url }}/">{{post.title}}{% if post.github %}
                        <img src="/img/GitHub-Mark-32px.png" style="width: 20px;height: 20px; margin-left: 6px;"/>{% endif %}</a></li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>