---
layout: default
title: 分类
---
<section class="section py-4 pb-2">
  <h1 class="title">{{page.title}}</h1>
  <div class="panel is-shadowless">
    <!--    <p class="panel-heading">{{page.title}}</p>-->
    <div class="panel-tabs is-flex-wrap-wrap is-justify-content-left">
      <a id="all" class="is-active has-text-primary-dark">All</a>
      {% for category in site.categories %}
      <a id="{{category[0]}}" class="has-text-primary-dark">{{category[0] | capitalize}}</a>
      {% endfor %}
    </div>
    {% for category in site.categories %}
    <div id="ref_{{category[0]}}" class="_panel-content">
      {% for post in category[1] %}
      <a class="panel-block" href="{{post.url}}">
        <span class="panel-icon"><i class="fas fa-bookmark" aria-hidden="true"></i></span>
        {{post.title}}
      </a>{% endfor %}
    </div>
    {% endfor %}
  </div>
  <script type="text/javascript">

    $(".panel-tabs a").bind("click", function () {
      const id = $(this).attr('id');
      console.debug('click:', id);

      $(".panel-tabs a").removeClass("is-active");
      $(this).addClass("is-active");

      if (id === 'all') {
        $("._panel-content").removeClass('is-hidden');
      } else {
        $("._panel-content").addClass('is-hidden');
        $(`#ref_${id}`).removeClass('is-hidden');
      }
    });

    const urlAnchor = window.location.hash;
    if (urlAnchor.startsWith("#") && $(urlAnchor)) {
      $(urlAnchor).trigger('click');
    }
  </script>
</section>