---
layout: default
title: 标签
---
<section class="section py-4">
  <h1 class="title">{{page.title}}</h1>
  <div class="subtitle tags mt-1">
    {% for tag in site.tags %}
    <a class="tag is-info is-size-6" href='#{{tag[0]}}'>{{tag[0] | capitalize}}</a>
    {% endfor %}
  </div>

  <div class="columns is-multiline content">
    {% for tag in site.tags %}
    <div class="column is-half">
      <a class="title is-size-5 has-text-grey" id="{{tag[0]}}">{{tag[0] | capitalize}}</a>
      <ul>{% for post in tag[1] %}
        <li><a class="has-text-primary-dark" href="{{post.url | relative_url}}">{{post.title}}</a></li>{% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>


