<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Google Adsense</h2>
    </div>
    <div class="panel-body">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 首页侧边栏 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3709356780361184"
             data-ad-slot="6082557155"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>