<div class="panel">
    <div class="panel-header">
        <div class="panel-title">最新文章</div>
    </div>
    <div class="panel-nav">
        <!-- navigation components: tabs, breadcrumbs or pagination -->
    </div>
    <div class="panel-body">
        <ul class="nav">
            {% for post in site.posts limit:site.last_pages %}
            <li class="nav-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="panel-footer">
        <!-- buttons or inputs -->
    </div>
</div>