<!-- Nav Start -->
<nav class="navbar is-primary" role="navigation">
  <div class="navbar-brand">
    <!--        <a class="navbar-item" href="/">-->
    <!--          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
    <!--        </a>-->
    <a class="navbar-item is-size-5" href="/"><i>Yee's work blog</i></a>
    <a class="navbar-item" href="/categories">
      <span class="icon"><i class="fas fa-bookmark"></i></span>
      <span>分类</span>
    </a>
    <a class="navbar-item" href="/tags" title="标签">
      <span class="icon"><i class="fas fa-tags"></i></span>
      <span>标签</span>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/archives" title="归档">
        <span class="icon"><i class="fas fa-history"></i></span>
        <span>归档</span>
      </a>
      <a class="navbar-item" href="/feed.xml" target="_blank" title="订阅RSS">
        <span class="icon"><i class="fas fa-rss"></i></span>
        <span>RSS</span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          系列文章
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://oxcow.gitbooks.io/h5-canvas-study-notes/content/" target="_blank">
            <span class="icon"><i class="fa fa-book"></i></span>
            <span>Html5 Canvas 学习笔记</span>
          </a>
          <a class="navbar-item" href="https://oxcow.gitbooks.io/stripes_chinese_doc/content/" target="_blank">
            <span class="icon"><i class="fa fa-book"></i></span>
            <span>Stripes 中文文档</span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/strip-docs/">
            <span class="icon"><i class="fa fa-book"></i></span>
            <span>Stripes 中文文档（本地）</span>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">
          <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/about">
            <span class="icon"><i class="fas fa-user-secret"></i></span>
            <span>关于我</span>
          </a>
          <a class="navbar-item" href="https://essay.iyiguo.net/" target="_blank">
            <span class="icon"><i class="fas fa-book-reader"></i></span>
            <span>杂文~随笔</span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/games/" title="小游戏">
            <span class="icon"><i class="fas fa-ghost"></i></span>
            <span>小游戏</span>
            <span class="icon has-text-danger"><i class="fas fa-vial"></i></span>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <!--        <div class="buttons">-->
        <!--          <a class="button is-primary">-->
        <!--            <strong>Sign up</strong>-->
        <!--          </a>-->
        <!--          <a class="button is-light">-->
        <!--            Log in-->
        <!--          </a>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</nav>
<!-- Nav End -->