<!-- breadcrumb start -->
<nav class="breadcrumb mt-1 mb-0 px-4 is-small" aria-label="breadcrumbs">
  <ul>
    <li>
      <a class="has-text-grey" href="{{site.data.collections[page.collection].index}}">
        <span class="icon has-text-info-dark mx-0"><i class="fas fa-book"></i></span>
        <span>{{site.data.collections[page.collection].label}}</span>
      </a>
    </li>
    <li>
      <a class="has-text-grey" href="/categories#{{page.category}}">
        <span class="icon has-text-info-dark mx-0"><i class="fas fa-bookmark"></i></span>
        <span>{{page.category|capitalize}}</span>
      </a>
    </li>
  </ul>
</nav>
<!-- breadcrumb end -->