<div class="panel" style="border: 0" id="profile_tabs">
    <div class="panel-header text-center">
        <figure class="avatar avata1-xl"><img src="/favicon.ico" alt="Avatar"></figure>
        <div class="panel-title h5 mt-10">Lee Yee</div>
    </div>
    <nav class="panel-nav">
        <ul class="tab tab-block">
            <li class="tab-item active" data-tab-id="profile_id"><a>Profile</a></li>
            <li class="tab-item" data-tab-id="eBook_id"><a>My eBooks</a></li>
        </ul>
    </nav>
    <div class="panel-body text-gray" id="profile_id">
        <dl>
            <dd>
                <i class="icon icon-mail"></i>
                <a href="mailto:seadlead@google.com" class='text-gray'>seadlead@google.com</a>
            </dd>
            <dd>
                <i class="icon icon-link"></i>
                <a href="http://www.iyiguo.net" target="_blank" class='text-gray'>Leeyee's Blog</a>
            </dd>
            <dd>
                <i class="icon icon-link"></i>
                <a href="https://github.com/oxcow" target="_blank" class='text-gray'>Leeyee's GitHub</a>
            </dd>
<!--            <dd>-->
<!--                <i class="icon icon-link"></i>-->
<!--                <a href="https://legacy.gitbook.com/@oxcow/dashboard" target="_blank"-->
<!--                   class='text-gray'>Leeyee's eBook</a>-->
<!--            </dd>-->
        </dl>
    </div>
    <div class="panel-body text-gray eBook_id d-hide" id="eBook_id">
        <dl>
            <dd>
                <a href="https://oxcow.gitbooks.io/stripes_chinese_doc/content/" target="_blank">Stripes 中文文档</a>
            </dd>
            <dd>
                <a href="https://oxcow.gitbooks.io/h5-canvas-study-notes/content/" target="_blank">Html5 Canvas 学习笔记</a>
            </dd>
        </dl>
    </div>
</div>