@media (min-width: 1900px) {
    .container {
        width: 1600px;
    }
}

@mixin self-img($px) {
    .self-img-#{$px} {
        width: #{$px}px;
        height: #{$px}px
    }
}

@include self-img(20);
@include self-img(40);
@include self-img(60);
@include self-img(120);

dd {
    margin-left: 40px;
}

dt, dd {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.45;
}

/*pre {
    border-left: 2px solid #32b643!important;
}*/

blockquote {
    background-color: rgba(128, 128, 128, 0.05);
    border-top-right-radius: .1rem;
    border-bottom-right-radius: .1rem;
    width: 100%;
    border-left-color: #32b643 !important;
    font-style: italic;
}

.footnotes {
    border-top: 0.1em solid;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: #008080;
}

#toTop {
    display: block;
    opacity: 1;
    bottom: 3em
}

$display_inline: inline;

%li-p-display-inline {
    display: $display_inline;
}

ul, ol {
    li p {
        @extend %li-p-display-inline;
    }
}

.pt-4 {
    padding-left: .8rem !important;
    padding-right: .8rem !important;
}

.docs-content {
    .column {
        padding: .2rem
    }
}

#default-toc {
    display: none;
    position: sticky;
    top: .1rem;
    z-index: 100;
    margin: 0 .4rem .4rem 0;
    width: 100%;
    max-height: 400px;
    overflow: auto;

    #markdown-toc {
        #toc_plus {
            cursor: pointer;
        }

        li {
            font-size: 15px;
            margin: 0 .4rem 0 0 !important;

            ul {
                margin-bottom: 0 !important;
                margin-top: 0 !important;
            }
        }
    }
}