html {
    background: #6C7989;
    background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55)) fixed;
    background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
    background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}

@media (min-width: 1900px) {
    .container {
        width: 1600px;
    }
}

body {
	/** 'Hiragino Sans GB', 'Microsoft Yahei', "Open Sans", "Helvetica Neue", */
    font-family: Rosarivo, Georgia, serif;
    font-size: 16px;
    line-height: 1.45;
    color: #3f3f3f;
    background-color: #F3F8F1;
    /*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
*/
}

table{
    max-width: 90%;
}
.table{
    margin-left: 30px;
    width: 90%;
}

.self-panel-title {
    font-size: 30px;
}

.self-img-20 {
    width: 20px;
    height: 20px
}

.self-img-40 {
    width: 40px;
    height: 40px
}

.self-img-60 {
    width: 60px;
    height: 60px
}

.self-img-120 {
    width: 120px;
    height: 120px
}

.self-margin-top-2px {
    margin-top: 2px;
}

.self-border-color-info {
    border-color: #bce8f1;
}

dd {
    margin-left: 40px;
}
dt, dd {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.45;
}
blockquote {
	font-size: 15px;
    border-left-width: 10px;
    background-color: rgba(128,128,128,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
}
.footnotes{
    border-top: 0.1em solid;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
    color: #008080;
}

.toTop{
    position: fixed;
    bottom: 5em;
    right: 15em;
    cursor: pointer;
    display: block;
    opacity: 1;
}

ul li p {
    display: inline;
}
ol li p {
    display: inline;
}
