<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ page.keywords | join:',' }}">
    <meta name="description" content="{{ page.description }}"/>
    <meta name="baidu-site-verification" content="ujuVjapZUR" />
   <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <!--<link href="/js/prettify/prettify.css" rel="stylesheet">-->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--<link href="http://apps.bdimg.com/libs/prettify/r298/prettify.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/myprettify/sons-of-obsidian-dark-prettity.css">
    <link rel="stylesheet" href="/css/self.css">
    <title>{% if page.title %} {{ page.title }} {% elsif site.title %} {{ site.title }} {% endif %}</title>
    {% include analytics %}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="row">
        <div class="col-md-offset-1">
            <a class="navbar-brand" href="/">Leeyee's Blog</a>
            <ul class="nav navbar-nav ">
                <li><a href="/categorys.html">分类</a>
                <li><a href="/tags.html">标签</a>
                <li><a href="/archives.html">归档</a>
                <li><a href="/about.html">关于我</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="http://google.com/search" method='get'>
                <input type="hidden" name="q" value="site:leeyee.github.io">

                <div class="form-group">
                    <input type="text" name='q' class="form-control" placeholder="Search">
                </div>
            </form>

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-8">
            {{ content }}
        </div>
        <div class="col-xs-6 col-md-4 col-lg-4">
            <!--<div class="row">-->
                <!--<div class="col-xs-6 col-md-6 col-lg-6">-->
                    <!--<h4 class="self-margin-top-2px">-->
                        <!--<a href="/feed.xml"><img src="/img/rss.png" class="self-img-40">RSS 本站</a>-->
                    <!--</h4>-->
                <!--</div>-->
               <!--&lt;!&ndash;<div class="col-xs-6 col-md-6 col-lg-6">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h4 style="margin-top: 2px;"><a href="/feed.xml"><img src="/img/rss.png" class="self-img-40">RSS&ndash;&gt;-->
                        <!--&lt;!&ndash;本站</a></h4>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<hr class="self-margin-top-2px"/>-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/feed.xml"><img src="/img/rss.png" class="self-img-40">RSS 本站</a>
                </div>
            </div>
            <!-- 本站公告 -->
            {% include notices.htm %}
            <!-- 最新文章 -->
            {% include last_posts.htm %}
            <!-- 文章标签 -->
            {% include tags.htm %}
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- 归档 -->
                    {% include archives.htm %}
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- 文章分类 -->
                    {% include categories.htm %}
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<footer>
    <p class="text-center">&copy;2015 by Leeyee, All Rights Reserved</p>
</footer>
<script type="text/javascript" src="/js/MathJax.js"></script>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="/js/jquery-1.11.1.min.js"><\/script>');
</script>
<script type="text/javascript" src="/js/common.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>
