<!DOCTYPE html>
<html lang="lang-zh-hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo title=false %}
    {% feed_meta %}
    <link rel="stylesheet" href="/stylesheets/self.css">
    {% include analytics %}
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <div class="container bg-secondary p-sticky" style="top:0;z-index: 10000">
        <div class="column col-12 p-2">
            <header class="navbar">
                <section class="navbar-section">
                    <a href="/" class="navbar-brand text-bold mx-2">Leeyee's Blog</a>
                    {% include categoryMenu %}
                    <a class="btn btn-link" href="/essay">essay</a>
                    <a class="btn btn-link" href="/about">关于我</a>
                    <a class="btn btn-link" href="/feed.xml">RSS</a>
                    <!-- </section>
                    <section class="navbar-section"> -->
                    <form action="https://www.google.com.hk/search" method="get">
                        <div class="input-group input-inline">
                            <input type="hidden" name="q" value="site:iyiguo.net">
                            <input class="form-input" type="text" name="q" placeholder="Search">
                            <button class="btn btn-primary input-group-btn">Search</button>
                        </div>
                    </form>
                </section>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="docs-content columns">
            <div class="column col-11 col-mx-auto col-sm-11">
            </div>
            <div class="column col-11 col-mx-auto col-sm-11">
                <div class="columns">
                    <div class="column col-8 col-mx-auto col-sm-8">
                        {{ content }}
                    </div>
                    <div class="column col-3 col-mr-auto col-sm-3">
                        <div class="docs-content columns">
                            <div class="column col-12">
                                <div class="panel" style="border: 0">
                                    <div class="panel-header text-center">
                                        <figure class="avatar avatar-lg"><img src="/favicon.ico" alt="Avatar"></figure>
                                        <div class="panel-title h5 mt-10">Lee Yee</div>
                                        <!-- <div class="panel-subtitle">THE HULK</div> -->
                                    </div>
                                    <nav class="panel-nav">
                                        <ul class="tab tab-block">
                                            <li class="tab-item active"><a href="#panels">Profile</a></li>
                                            <li class="tab-item"><a href="#panels">Files</a></li>
                                            <li class="tab-item"><a href="#panels">Tasks</a></li>
                                        </ul>
                                    </nav>
                                    <div class="panel-body text-gray">
                                        <dl>
                                            <dd>
                                                <i class="icon icon-mail"></i>
                                                <a href="mailto:seadlead@google.com" class='text-gray'>seadlead@google.com</a>
                                            </dd>
                                            <dd>
                                                <i class="icon icon-link"></i>
                                                <a href="http://www.iyiguo.net" target="_blank" class='text-gray'>http://www.iyiguo.net</a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="panel-footer">
                                        <!-- buttons or inputs -->
                                    </div>
                                </div>
                            </div>
                            <div class="column col-12 divider"></div>
                            <!-- 最新文章 -->
                            {% include last_posts.htm %}
                            <!-- 文章标签 -->
                            {% include tags.htm %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="m-2">
            <div class="divider text-center" data-content="&copy;{{ site.time | date: '%Y' }} by Leeyee, All Rights Reserved" />
        </footer>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js"></script>
        <script type="text/javascript">
        !window.jQuery && document.write('<script src="/js/jquery-1.11.1.min.js"><\/script>');
        </script>
        <script type="text/javascript" src="/js/common.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
        <div id="totop" class="toTop" style="display: block; opacity: 1;">
            <button type="button" class="btn btn-info btn-lg">Top<span class="glyphicon glyphicon-plane"></span></button>
        </div>
</body>

</html>