---
layout: default
---
<div class="columns is-multiline m-2">
  {% for post in paginator.posts %}
  <div class="column is-half">
    <article class="media mt-1">
      <!--      <figure class="media-left">-->
      <!--        <p class="image is-64x64"><img src="/favicon.ico"></p>-->
      <!--      </figure>-->
      <div class="media-content">
        <div class="content">
          <div>
            <a class="has-text-grey-dark is-size-5" href="{{post.url}}" class='text-dark'>{{post.title}}</a>
            <br/>
            <small class="has-text-grey-light">{{post.description}}</small>
            <br/>
            <div class="is-pulled-right has-text-grey-light is-size-7">
              <a class="has-text-grey-light">{% if page.author %}{{page.author|capitalize}}{% elsif site.author %}
                {{ site.author|capitalize}}{% endif %}</a><i> · </i>
              <a class="has-text-grey-light">{% if post.date %}{{ post.date|date:"%Y-%m-%d"}}{%elsif site.time%}
                {{ site.time | date:"%B %d, %Y" }}{% endif %}</a>
              <i> · </i>
              <a class="has-text-grey-light" href="/categories/#{{post.category}}">
                {{post.category|capitalize}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<!-- 分页 start -->
<div class="m-3 px-2 is-flex is-justify-content-space-between">
  <div>{% if paginator.previous_page %}
    <a class="has-text-primary" title="previous page"
       href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <span class="icon"><i class="fas fa-lg fa-chevron-circle-left"></i></span>
    </a>{% endif %}
  </div>
  <div>第 {{ paginator.page }} / {{ paginator.total_pages }} 页</div>
  <div>{% if paginator.next_page %}
    <a class="has-text-primary" title="next page"
       href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <span class="icon"><i class="fas fa-lg fa-chevron-circle-right"></i></span>
    </a>{% endif %}
  </div>
</div>
<!-- 分页 end -->
{% endif %}
