---
layout: default
---
<div>
    <ol class="breadcrumb" style="background-color: #F3F8F1; ">
        <li><a href="/">首页</a></li>
        {% if page.category %}
        <li><a href="/categorys.html#{{ page.category }}">{{ page.category }}</a></li>
        {% endif %}
        <li class="active">{{ page.title }}</li>
    </ol>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title self-panel-title"> {{page.title}} </h2>
    </div>
    <div class="panel-body">
        <address class="text-info">{% if page.github %}
            <a href="{{site.github}}{{page.github}}" target="_blank">
                <img src="/img/Octocat-90px.gif" class="self-img-20"/>
                <em>{{site.github}}{{page.github}}</em>
            </a>
            {% endif %}
        </address>
        <div id="j_article">{{ content }}</div>
    </div>
    <div class="panel-footer">
        <span class="glyphicon glyphicon-calendar"/>
        {% if page.date %}
        <a href="/archives.html#{{page.date | date:'%Y-%m'}}">{{ page.date | date:"%Y年%m月%d日" }}</a>
        {% elsif site.author %} {{ site.time | date:"%Y年%m月%d日" }} {% endif %}
        <span class="glyphicon glyphicon-user"/>
        {% if page.author %} {{ page.author }} {% elsif site.author %} {{ site.author }} {% endif %}
        {% if page.category %}
        <span class="glyphicon glyphicon-folder-close"/>
        <a href="/categorys.html#{{page.category}}"> {{ page.category }}</a>
        {% endif %}
        {% if page.tag %}
        <span class="glyphicon glyphicon-tags"/> {{ page.tag | join: ',' }}
        {% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">{% include shares %}</div>
        <div>{% include comments %}</div>
    </div>
</div>