---
layout: default
---
<!-- <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">首页</a></li>
    {% if page.category %}
    <li class="breadcrumb-item"><a href="/categorys/#{{ page.category }}">{{ page.category }}</a></li>
    {% endif %}
    <li class="breadcrumb-item">{{ page.title }}</li>
</ul> -->
<!-- <div class="panel">
    <div class="panel-header">
        <div class="panel-title">
            <h1> {{page.title}} </h1>
        </div>
    </div>
    <div class="panel-body">
        <address class="text-info">{% if page.github %}
            <a href="{{site.github}}{{page.github}}" target="_blank">
                <img src="/img/Octocat-90px.gif" class="self-img-20" />
                <em>{{site.github}}{{page.github}}</em>
            </a>
            {% endif %}
        </address>
        <div id="j_article">
            <div class="toast">
                <strong>版权声明：</strong>
                <ul class='nav'>
                    <li class="nav-item">关于<a href="{{site.url}}{{page.url}}">《{{page.title}}》</a>的一切权利归作者<a href="mailto:seadlead@gmail.com" 　class="alert-link">@Leeyee</a>所有；</li>
                    <li class="nav-item">非商用、非衍生;</li>
                    <li class="nav-item">如需转载需要注明来源于<a href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a></li>
                </ul>
            </div> -->
<div class="card" style='border:0'>
    <!-- <div class="card-image">
    <img src="img/osx-el-capitan.jpg" class="img-responsive">
  </div> -->
    <div class="card-header">
        <div class="card-title h1">{{ page.title }}</div>
        <div class="card-subtitle text-gray">
            <span class="icon icon-time" />
            {% if page.date %}
            <a href="/archives/#{{page.date | date:'%Y-%m'}}">{{ page.date | date:"%Y年%m月%d日" }}</a>
            {% elsif site.author %} {{ site.time | date:"%Y年%m月%d日" }} {% endif %}
            <span class="icon icon-bookmark" />
            {% if page.author %} {{ page.author }} {% elsif site.author %} {{ site.author }} {% endif %}
            {% if page.category %}
            <span class="icon icon-flag" />
            <a href="/categorys/#{{page.category}}"> {{ page.category }}</a>
            {% endif %}
            {% if page.tag %} <span class='icon icon-flag' /> <span class="chip active"> {{ page.tag | join: ',' }} </span>{% endif %}
        </div>
    </div>
    <div class="card-body">
        {{ content }}
    </div>
    <div class="card-footer">
        {% include comments %}
    </div>
</div>