---
layout: default
---
<div class="columns is-centered">
  <div class="column is-three-quarters mt-3">
    {%include post_breadcrumb.htm%}
    <section class="hero is-small">
      <div class="hero-body p-4">
        <header class="is-size-3">{{page.title | capitalize}}</header>
        <div class="subtitle has-text-grey is-7 pt-3">
          <div class="is-pulled-left">
            <span class="icon-text">
            {% for tg in page.tags %}<a class="has-text-grey pr-1" href="/tags/#{{tg}}">#{{tg | capitalize}}</a>{%endfor%}
            </span>
          </div>
          <div class="is-pulled-right">
            <span class="icon-text">
            <span class="icon has-text-info"><i class="fas fa-user-alt"></i></span>
            <span>{% if page.author %}{{page.author | capitalize}}{% elsif site.author %}{{ site.author | capitalize}}{% endif %}</span>
          </span>
            <span class="icon-text">
            <span class="icon has-text-info"><i class="fas fa-calendar-alt"></i></span>
            <span>
              <a class="has-text-grey" href="/archives/#{{page.date | date:'%Y'}}">{{ page.date | date:"%Y-%m-%d" }}</a>
            </span>
          </span>
            {%if page.github%}
            <a href="{{site.github}}{{page.github}}" target="_blank" title="{{page.github}}">
              <span class="icon has-text-info"><i class="fab fa-github"></i></span>
            </a>{%endif%}
          </div>
        </div>
        <article class="content is-normal pt-5">{{content}}</article>
        <hr/>
        <div class="has-text-grey">
          <p>版权声明: <a class="has-text-grey" href="{{site.url}}{{page.url}}">《{{page.title}}》</a>为作者【{% if page.author
            %}{{page.author}}{%
            elsif site.author %}{{ site.author }}{% endif %}】原创作品。<strong>转载请注明出处</strong>。</p>
          <p>原文链接:【<a class="has-text-primary-dark">{{site.url}}{{page.url}}</a>】</p>
        </div>
        <div class="tags mt-5">
          {% for tg in page.tags %}<span class="tag is-primary">
          <a class="has-text-white" href="/tags/#{{tg}}">{{tg | capitalize}}</a></span>{%endfor%}
        </div>
      </div>
    </section>
  </div>
  <div class="column">
    <aside id="article_toc" class="menu mt-3 pt-2" style="position: sticky; top:10px">
      <p class="menu-label has-text-info">目录</p>
    </aside>
  </div>
</div>